doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .noselect
      img(class="logo", src='cookit_logo.jpg', alt="cookit logo")

    block content
